@use '../util/media';

$positions: (inherit, relative, absolute, static, fixed, sticky);
@each $pos in $positions {
    .p-#{$pos} {
        position: $pos !important;
    }
}

@each $size,
$value in media.$breakpoints {
    @media (min-width: $value) {
        @each $pos in $positions {
            .p-#{$size}-#{$pos} {
                position: $pos !important;
            }
        }       
    }
}