@use 'sass:math';

// Breakpoints
$breakpoints: (
   'sm': 576px,
   'md': 768px,
   'lg': 992px,
   'xl': 1200px,
   'xxl': 1400px
);

// Container widths
$container-max-widths: (
   'sm': 540px,
   'md': 720px,
   'lg': 960px,
   'xl': 1140px,
   'xxl': 1320px
);

.container,
.container-fluid {
   width: 100%;
   padding-left: 16px;
   padding-right: 16px;
   margin-left: auto;
   margin-right: auto;
}

@each $breakpoint, $value in $breakpoints {
   @media (min-width: $value) {
      .container-#{$breakpoint} {
         max-width: map-get($container-max-widths, $breakpoint);
      }
   }
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-left: -16px;
   margin-right: -16px;
}

.col {
   flex: 1;
   padding-left: 16px;
   padding-right: 16px;
}

@for $i from 1 through 12 {
   .col-#{$i} {
      flex: 0 0 math.div(100%, 12) * $i;
      max-width: math.div(100%, 12) * $i;
   }
}

@for $i from 1 through 12 {
   .offset-#{$i} {
      margin-left: math.div(100%, 12) * $i;
   }
}