$max-container-width: 90%;

.container {
   width: $max-container-width;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}

@each $prefix, $width in $breakpoints {
   @media (min-width: $width) {
      .container {
         max-width: map-get($breakpoints-max-width, $prefix);
      }
   }
}